:root {
  --background: #000;
  --default-background-ui: #111111;
}

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background: var(--background);
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.068);

  background-image:
    linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  font-family: "Libre Franklin", sans-serif;
}

.game-canvas {
  margin: 80px auto;
  display: block;
  border: solid 2px var(--default-background-ui);
}
